doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible',content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='Haus-Voithofer.com')
    meta(name='author', content='Henrik Binggl')

    | <!-- build:css(.tmp) styles/main.css -->
    | <link rel="stylesheet" href="assets/bower_components/bootstrap/dist/css/bootstrap.css">
    | <link rel="stylesheet" href="assets/bower_components/font-awesome/css/font-awesome.min.css">
    | <link rel="stylesheet" href="assets/styles/main.css">
    | <!-- endbuild -->

    | <!--[if lt IE 9]>  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>  <![endif]-->

    link(rel='shortcut icon', href='./assets/favicon.ico')

  body(id='page-top', data-spy='scroll', data-target='.navbar-custom')
    nav.navbar.navbar-custom.navbar-fixed-top(role='navigation')
      .container
        .navbar-header(page-scroll)
          button(type='button',class='navbar-toggle',data-toggle='collapse',data-target='.navbar-main-collapse')
            i.fa.fa-bars
          a.navbar-brand(href='#intro') Haus-Voithofer

        .collapse.navbar-collapse.navbar-right.navbar-main-collapse
          ul.nav.navbar-nav
            li.page-scroll
              a(href='#intro')
            li.page-scroll
              a(href='#rooms') Rooms
            li.page-scroll
              a(href='#flat') Flat
            li.page-scroll
              a(href='#location') Location
            li.page-scroll
              a(href='#contact') Contact

    section#intro.intro
      .intro-body
        .container
          .row
            .col-md-8.col-md-offset-2
              h1.brand-heading Haus-Voithofer
              p.intro-text #{lingua.SloganShort}
              .page-scroll
                a(href='#rooms',class='btn btn-success') Have a look


    section#rooms.content-section.text-center
      .section.rooms-section
        h2 Rooms
        .divider-grey
          .row

    section#flat.text-center
      .section.flat-section
        h2 Flat
        .divider-grey
          .row

    section#location.text-center
      .section.location-section
        h2 Location
        .divider-grey
        div#cd-google-map.row
          div#google-container
          div#cd-zoom-in
          div#cd-zoom-out
          address Neudaugasse 243, 5741 Neukirchen am Großvenediger

    section#contact.content-section1.text-center
      .section.contact-section
        .row
          p Contact

    section#footer
      .footer-section
        p &copy; 2014 Haus-Voithfer
        | <!-- design based on the work of. Andrew Shen http://andrewshen.net/ -->


    | <!-- build:js scripts/scripts.js -->
    | <script src="assets/bower_components/jquery/dist/jquery.js"></script>
    | <script src="assets/bower_components/modernizr/modernizr.js"></script>
    | <script src="assets/bower_components/bootstrap/dist/js/bootstrap.js"></script>
    | <script src="assets/bower_components/jquery-easing-original/jquery.easing.1.3.js"></script>
    | <script src="assets/scripts/custom.js"></script>
    | <script src="assets/scripts/map.js"></script>
    | <!-- endbuild -->
    | <script src="https://maps.googleapis.com/maps/api/js?key=#{mapsApiKey}&sensor=true"></script>